<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/masterstyle.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="">
        <!-- Menú vertical en la parte superior de la pantalla -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
            <!-- Botón del menú cuando se visualiza en pantalla angostas -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Menu, #Usuario" aria-controls="Menu, Usuario" aria-expanded="false" aria-label="Menú">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Nombre de la página -->
            <a class="navbar-brand" href="MasterPage.html">
                @Html.ActionLink("Módulo de Contabilidad", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </a>
            <!-- Opciones del menú -->
            <div class="collapse navbar-collapse" id="Menu">
                <ul class="navbar-nav mr-auto ml-auto">
                    <li class="dropdown nav-item active">
                        @Html.ActionLink("Clientes", "Index", "Clientes", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li>
                        <hr />
                    </li>
                    <li class="dropdown nav-item active">
                        @Html.ActionLink("Productos", "Index", "Productos", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li>
                        <hr />
                    </li>
                    <li class="dropdown nav-item active">
                        @Html.ActionLink("Registros", "Index", "Registros", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li>
                        <hr />
                    </li>
                    <li class="dropdown nav-item active">
                        @Html.ActionLink("Reportes", "Index", "Reportes", new { area = "" }, new { @class = "nav-link" })
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container body-content">
        <p />
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>